.following {
  flex: 1;
  background-color: var(--backgroundLight);
  border-radius: var(--borderRadiusAside);
  &__heading {
    padding: 1rem;
    border-bottom: var(--border);
  }
  ul {
    margin: 0;
  }
  &__item {
    display: flex;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.03);
    }
    a {
      width: 100%;
      padding: 1rem;
    }
  }
}
